@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4; /* Light grey background */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: Arial, sans-serif; /* Sets the font for the page */
  background-color: #f4f4f4; /* Light grey background */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centers the container horizontally */
  align-items: center; /* Centers the container vertically */
  height: 100vh; /* Full viewport height */
}
