@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  position: relative;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: Arial, sans-serif; /* Sets the font for the page */

  padding: 0;
  display: flex;
  justify-content: center; /* Centers the container horizontally */
  align-items: center; /* Centers the container vertically */
  height: 100vh; /* Full viewport height */
}
